<ul>
  <% _.each(posts, function (post) { %>
    <li>
      <a href="#/posts/<%= post.get("id") %>">
        <%= post.get("title") %>
      </a>
    </li>
  <% }); %>
</ul>

<br>
<a href="#/posts/new">New Post</a>