/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, h1, h3, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

h1, h3, p, a {
  font-family: Verdana;
  color: #6E91A1;
}

html, body {
  height: 100%;
}

h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

p {
  text-align: center;
}

a:hover {
  color: white;
}


#sidebar {
  float: left;
  display: block;
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: #27556C;
}

#main {
  background-color: #313975;
  width: 80%;
  height: 100%;
  float: right;
  display: block;
}

#container {

}