/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, h1, h3, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

h1, h3, p, a {
  font-family: Verdana;
  color: #370037;
}

html, body {
  height: 100%;
}

ul, li {
  list-style: none;
}

h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 30px;
}

h3 {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

p {
  text-align: center;
  font-size: 15px;
  margin: 20px 0;
}

a:hover {
  color: white;
}


#sidebar {
  float: left;
  display: block;
  width: 25%;
  height: 100%;
  background-color: #8A458A;
}

#sidebar ul {
	margin-top: 40px;
	text-align: center;
}

#sidebar ul > li {
	margin: 20px;
	text-align: center;
}

#sidebar > div > a {
	text-align: center;
	font-size: 20px;
	color: #530E53;
}

#main {
  background-color: #A66FA6;
  height: 100%;
  width: 75%;
  float: left;
  display: block;
}


#title-input, #body-input {
  text-align: center;
  display: block;
  margin: 20px auto;
}

#title-input {
  font-size: 20px;
}

#body-input {
  font-size: 15px;
}

form {
	display: block;
	margin: auto;
	text-align: center;
}

form > label {
	color: #fff;
	font-size: 25px;
}